html {
    position: absolute;
    height: 900px;
    width: 1440px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background-color: #9D1C20;
}

/*body 파트 기본 배경 - 모서리 둥근 사각형 설정*/
body {
    position: absolute;
    height: 746px;
    width: 1195px;
    left: 122px;
    top: 77px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

/*경희 한의원 로고 배치*/
img {
    position: absolute;
    height: 119px;
    width: 512px;
    left: 342px;
    top: 140px;
}

/* class 공통된 속성 지정하기 아직 잘 모르겠음 */
.info {
    position: absolute;
    height: 48px;
    width: 398px;
    left: 399px;
    border-radius: 0px;
    background-color: #FFFFFF;
    border: 1px solid #A8A9AD;
    box-sizing: border-box;
}

.patientName {
    top: 269px;
}

.patientPhone {
    top: 327px;
}

#clinicAddress {
    height: 48px;
    width: 398px;
    margin-left: 399px;
    margin-top: 385px;
    border-radius: 0px;

    background: #FFFFFF;
    border: 1px solid #A8A9AD;
    box-sizing: border-box;
}

.btn {
    position: absolute;
    background-color: #9D1C20;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    border-radius: 0px;
}

.searchAddress {
    height: 48px;
    width: 103px;
    left: 694px;
    top: 385px;
    text-align: center;
}

/* 증상 입력하기 button */
.submitInfo {
    height: 56px;
    width: 398px;
    left: 399px;
    top: 559px;
    text-align: center;
}

.identificationNumber {
    top: 443px;
}

.introductor {
    top: 501px;
}