/*경희 한의원 로고 배치*/
img {
    height: 119px;
    width: 512px;
    margin-left: 342px;
    top: 77px;
    border-radius: 0px;
}

span {
    height: 19px;
    width: 208px;
    margin-left: 494px;
    margin-top: 119px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.btn {
    position: absolute;
    height: 56px;
    width: 398px;
    left: 399px;
    border-radius: 10px;
    border: 0;
    background-color: rgba(184, 184, 184, 1);

    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.btn:focus {
    background-color: rgba(157, 28, 32, 0.75);
}

.element1 {
    top: 178px;
}

.element2 {
    top: 244px;
}

.element3 {
    top: 310px;
}

.element4 {
    top: 376px;
}

.element5 {
    top: 442px;
}

.element6 {
    top: 508px;
}

.small-btn {
    position: absolute;
    height: 56px;
    width: 191px;
    top: 574px;
    border-radius: 10px;
    border: 0;
    background-color: rgba(184, 184, 184, 1);
    color: white;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.small-btn:focus {
    background-color: rgba(157, 28, 32, 0.75);
}

.drinking {
    margin-left: 400px;
}

.smoking {
    margin-left: 606px;
}

.submitInfo {
    background-color: #9D1c20;
    top: 640px;
}


.clicked {
    background-color: rgba(157, 28, 32, 0.75);
}